# Telegram
TG_TOKEN=YOUR_TELEGRAM_TOKEN

# Logs
LOG_FILE=backup_log_%Y.%m.%d.log
LOG_PATH=logs\%Y\%Y.%m
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_CONSOLE=INFO
LOG_LEVEL_FILE=WARNING
LOG_FORMAT_CONSOLE='%(filename)s:%(lineno)d\n%(log_color)s%(asctime)-20s| %(levelname)-8s| %(name)-20s\t| %(funcName)-20s| %(message)s'
LOG_FORMAT_FILE='%(filename)s:%(lineno)d\t| %(asctime)-20s| %(levelname)-8s| %(name)-20s\t| %(funcName)-20s| %(message)s'
LOG_DATE_FORMAT='%Y.%m.%d %H:%M:%S'
LOG_CONSOLE_LANGUAGE=en
