# Telegram
TG_TOKEN=YOUR_TELEGRAM_TOKEN

# OpenAI
GPT_TOKEN=YOUR_GPT_TOKEN
GPT_MODEL=gpt-3.5-turbo

# PROXY
PROXY_ADDRESS=YOUR_PROXY_ADDRESS

# BOT
#BOT_ADMINS_LIST=123456789

# FOLDERS Resources
FOLDERS_RESOURCES_DIR=resources
FOLDERS_GPT_PROMPTS_DIR=prompts
FOLDERS_MESSAGES_DIR=messages
FOLDERS_IMAGES_DIR=images

# Logs
LOG_FILE=backup_log_%Y.%m.%d.log
LOG_PATH=logs\%Y\%Y.%m
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_CONSOLE=INFO
LOG_LEVEL_FILE=WARNING
LOG_IGNORE_LIST=httpx,httpcore,asyncio,openai,aiogram
LOG_FORMAT_CONSOLE='%(filename)s:%(lineno)d\n%(log_color)s%(asctime)-20s| %(levelname)-8s| %(name)-20s\t| %(funcName)-20s| %(message)s'
LOG_FORMAT_FILE='%(filename)s:%(lineno)d\t| %(asctime)-20s| %(levelname)-8s| %(name)-20s\t| %(funcName)-20s| %(message)s'
LOG_DATE_FORMAT='%Y.%m.%d %H:%M:%S'
LOG_CONSOLE_LANGUAGE=en
